@{
    ViewData["Title"] = "Anuncios";
}

<main role="main" class="contenedor seccion">
    <h1>Casas Y Depas en Venta</h1>

    <partial name="Components/_Anuncios" model="@ViewBag.anuncios"/>
</main>