@{
    ViewData["Title"] = "Entrada de Blog";
}

<main role="main" class="contenedor seccion contenido-centrado">
    <h1>Guía para la decoración de tu hogar</h1>

    <picture>
        <source srcset="~/build/img/destacada2.webp" type="image/webp" />
        <source srcset="~/build/img/destacada2.jpg" type="image/jpeg" />
        <img loading="lazy" src="~/build/img/destacada2.jpg" />
    </picture>

    <p class="informacion-meta">Escrito el: <span>20/10/2022</span> por: <span>Admin</span></p>

    <div class="resumen-blog">
        <p>
            Phasellus vel accumsan dui. Ut tempor nunc sed nibh blandit consequat.
            Sed non lacinia erat.
            Maecenas iaculis justo ut velit auctor, vitae vulputate lorem malesuada.
            Praesent sed quam pellentesque, pulvinar risus id, euismod magna.
            Aenean venenatis ac justo et rutrum. Morbi faucibus dignissim odio, non elementum quam rhoncus non.
            Phasellus egestas tortor et scelerisque varius. Aenean est ligula, mollis vitae laoreet eget, malesuada ut arcu.
            Vestibulum lobortis eleifend mi, ut tincidunt diam porttitor in.
            Praesent ultrices fermentum ipsum. Nulla tristique interdum commodo.
            Etiam arcu diam, lacinia quis imperdiet at, ullamcorper eu nisl.
        </p>

        <p>
            Morbi sollicitudin eget sapien id cursus. Nulla facilisi.
            Maecenas consectetur risus vel accumsan laoreet.
            Nullam dui erat, faucibus ac semper faucibus, feugiat quis nibh. Donec sapien justo, venenatis dapibus ornare id, vulputate quis nunc. Donec ultricies eu quam vel vehicula. Nullam dictum nibh mi, in congue purus pharetra ut.
            In id ipsum vitae mi laoreet malesuada.
            Integer semper, quam in eleifend cursus, nisi diam volutpat nisl, hendrerit malesuada ligula diam sit amet augue. Nunc dapibus dui et odio ultricies molestie. Mauris sed nunc nibh.
            Nunc id lacinia eros. Cras mollis diam et lacinia porta.
            Curabitur congue ac est a posuere.
            Proin et luctus ipsum.
            Cras sem nisl, aliquam sed nibh vitae, vestibulum porta nisl.
            Aenean consequat auctor velit, malesuada congue justo euismod et.
            Sed commodo consequat porta.
        </p>
    </div>
</main>