@{
    ViewData["Title"] = "Nosotros";
}

<main role="main" class="contenedor seccion">
    <h1>Conoce sobre Nosotros</h1>


    <div class="contenido-nosotros">
        <div class="imagen">
            <picture>
                <source srcset="~/build/img/nosotros.webp" type="image/webp" />
                <source srcset="~/build/img/nosotros.jpg" type="image/jpeg" />
                <img loading="lazy" src="~/build/img/nosotros.jpg" alt="Sobre Nosotros" />
            </picture>
        </div>

        <div class="texto-nosotros">
            <blockquote>
                25 Años de experiencia
            </blockquote>
            <p>
                Morbi sollicitudin eget sapien id cursus. Nulla facilisi.
                Maecenas consectetur risus vel accumsan laoreet.
                Nullam dui erat, faucibus ac semper faucibus, feugiat quis nibh. Donec sapien justo, venenatis dapibus ornare id, vulputate quis nunc. Donec ultricies eu quam vel vehicula. Nullam dictum nibh mi, in congue purus pharetra ut.
                In id ipsum vitae mi laoreet malesuada.
                Integer semper, quam in eleifend cursus, nisi diam volutpat nisl, hendrerit malesuada ligula diam sit amet augue. Nunc dapibus dui et odio ultricies molestie. Mauris sed nunc nibh.
                Nunc id lacinia eros. Cras mollis diam et lacinia porta.
                Curabitur congue ac est a posuere.
                Proin et luctus ipsum.
                Cras sem nisl, aliquam sed nibh vitae, vestibulum porta nisl.
                Aenean consequat auctor velit, malesuada congue justo euismod et.
                Sed commodo consequat porta.
            </p>

            <p>
                Morbi sollicitudin eget sapien id cursus. Nulla facilisi.
                Maecenas consectetur risus vel accumsan laoreet.
                Nullam dui erat, faucibus ac semper faucibus, feugiat quis nibh. Donec sapien justo, venenatis dapibus ornare id, vulputate quis nunc. Donec ultricies eu quam vel vehicula. Nullam dictum nibh mi, in congue purus pharetra ut.
                In id ipsum vitae mi laoreet malesuada.
            </p>
        </div>
    </div>
</main>

<section class="contenedor seccion">
    <h2>Más Sobre Nosotros</h2>

    <div class="iconos-nosotros">
        <div class="icono">
            <img src="~/build/img/icono1.svg" alt="Icono seguridad" loading="lazy" />
            <h3>Seguridad</h3>
            <p>Morbi venenatis id nunc sed convallis. Proin gravida venenatis vestibulum. Etiam tortor nunc, finibus sit amet purus posuere, elementum sollicitudin ipsum. Nunc dictum, sem sed dictum tincidunt, neque risus laoreet nibh, et mollis dolor dui nec lacus.</p>
        </div>
        <div class="icono">
            <img src="~/build/img/icono2.svg" alt="Icono precio" loading="lazy" />
            <h3>Precio</h3>
            <p>Morbi venenatis id nunc sed convallis. Proin gravida venenatis vestibulum. Etiam tortor nunc, finibus sit amet purus posuere, elementum sollicitudin ipsum. Nunc dictum, sem sed dictum tincidunt, neque risus laoreet nibh, et mollis dolor dui nec lacus.</p>
        </div>
        <div class="icono">
            <img src="~/build/img/icono3.svg" alt="Icono tiempo" loading="lazy" />
            <h3>A Tiempo</h3>
            <p>Morbi venenatis id nunc sed convallis. Proin gravida venenatis vestibulum. Etiam tortor nunc, finibus sit amet purus posuere, elementum sollicitudin ipsum. Nunc dictum, sem sed dictum tincidunt, neque risus laoreet nibh, et mollis dolor dui nec lacus.</p>
        </div>
    </div>
</section>