@using BaseCore.Entidades.ViewModels;
@model PropiedadCreacionVM;

@{
    ViewData["Title"] = "Crear";
}

<main role="main" class="contenedor seccion">
    <h1>@ViewData["Title"]</h1>

    <a asp-controller="Home" asp-action="Admin" class="boton-verde">Volver</a>

    <div asp-validation-summary="All" class="asp-validation-error"></div>

    @if (ViewData["Error"] != null)
    {
        <p class="alerta error">@ViewData["Error"]</p>
    }

    <form asp-action="Crear" class="formulario" enctype="multipart/form-data">
        <fieldset>
            <legend>Información General</legend>

            <label asp-for="Propiedad.Titulo">Titulo:</label>
            <input asp-for="Propiedad.Titulo" placeholder="Titulo Propiedad" />

            <label asp-for="Propiedad.Precio">Precio:</label>
            <input asp-for="Propiedad.Precio" placeholder="Precio Propiedad" type="number" />

            <label asp-for="ImagenPropiedad">Imagen:</label>
            <input asp-for="ImagenPropiedad" accept="image/jpeg, image/png" />

            <label asp-for="Propiedad.Descripcion">Descripción:</label>
            <textarea asp-for="Propiedad.Descripcion"></textarea>
        </fieldset>

        <fieldset>
            <legend>Información Propiedad:</legend>

            <label asp-for="Propiedad.Habitaciones">Habitaciones:</label>
            <input asp-for="Propiedad.Habitaciones" placeholder="Ej: 3" min="1" max="9" />

            <label asp-for="Propiedad.Wc">Baños:</label>
            <input asp-for="Propiedad.Wc" placeholder="Ej: 3" min="1" max="9" />

            <label asp-for="Propiedad.Estacionamiento">Estacionamientos:</label>
            <input asp-for="Propiedad.Estacionamiento" placeholder="Ej: 3" min="1" max="9" />
        </fieldset>

        <fieldset>
            <legend>Información Vendedor</legend>

            <label asp-for="Propiedad.VendedorId">Vendedor:</label>
            <select asp-for="Propiedad.VendedorId" asp-items="@Model.Vendedores">
                <option value="" selected disabled>-- Seleccionar --</option>
            </select>
        </fieldset>

        <input class="boton-verde" type="submit" value="Crear Propiedad" />
    </form>
</main>
