<footer class="footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a href="#">Nosotros</a>
            <a href="#">Anuncios</a>
            <a href="#">Blog</a>
            <a href="#">Contacto</a>
        </nav>
    </div>

    <p class="copyright">Todos los derechos Reservados 2022 &copy;</p>
</footer>