@using Microsoft.AspNetCore.Identity;
@using Domain.Entidades.Cuentas;
@inject SignInManager<Usuario> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BienesRaices</title>
    <link rel="stylesheet" href="~/build/css/app.min.css" asp-append-version="true" />
</head>
<body>

    <header class="header @(ViewBag.inicio ?? "")">
        <div class="contenedor contenido-header">
            
            <div class="barra">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/build/img/logo.svg" alt="Logotipo de Bienes Raices" />
                </a>

                <div class="mobile-menu">
                    <img src="~/build/img/barras.svg" alt="Icono menu responsive" />
                </div>

                <div class="derecha">
                    <img class="dark-mode-boton" src="~/build/img/dark-mode.svg" alt="Icono darkmode"/>
                    <nav class="navegacion">
                        <a asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        <a asp-controller="Home" asp-action="Anuncios">Anuncios</a>
                        <a asp-controller="Home" asp-action="Blog">Blog</a>
                        <a asp-controller="Home" asp-action="Contacto">Contacto</a>
                        @if(SignInManager.IsSignedIn(User))
                        {
                            <form asp-controller="Cuentas" asp-action="Logout">
                                <input type="submit" value="Cerrar Sección"/>
                            </form>
                        }
                    </nav>
                </div>
            </div><!-- .barra -->
            @if (ViewBag.inicio is not null)
            {
                <h2>Venta de Casas y Departamentos Exclusivos de Lujo</h2>
            }
        </div>
    </header>

    @RenderBody()

    <partial name="_Footer" />


    <script src="~/build/js/bundle.min.js" asp-append-version="true"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
